.CreateAccount {
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 72px;
	justify-content: center;
}

.signUpSectionBg1 {
	position: absolute;
	z-index: -3;
	right: 0;
	width: 100%;
}

.signUpContent {
	width: 506px;
	height: 100%;
	flex-shrink: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	overflow: hidden;
}

.signUpContent::before {
	content: '';
	background: rgba(5, 16, 46, 0.48);
	backdrop-filter: blur(12px);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;

	z-index: -1;
}

.signUpSectionBg2 {
	position: absolute;
	z-index: -2;
	top: 0;
	height: 100%;
	width: 100%;
}

.signUpTexts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	align-self: stretch;
}

.signUpTitles {
	display: flex;
	width: 343px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.signUpUnderTitle {
	display: flex;
	height: 16px;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 2px;
	border-radius: 4px;
	background: var(
		--Gradient_Hot,
		linear-gradient(100deg, #ed712b 0%, #d03c3c 83.99%)
	);

	/* Hot_Glow */
	box-shadow: 0px 0px 17px 0px rgba(214, 94, 38, 0.54),
		0px 0px 2.763px 0px rgba(214, 94, 38, 0.27);

	color: var(--White_Main-Contrast, #fff);
	text-align: center;

	/* Body/Footnote/10 Semi */
	font-family: Poppins;
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 12px */
}

.signUpTitle {
	color: var(--White_Main-Contrast, #fff);
	text-align: center;
	font-family: Anton;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px; /* 125% */
	text-transform: uppercase;
}

.signUpSubtitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	align-self: stretch;
}

.signUpSubtitle {
	color: var(--Text_Secondary, #d9d1dc);

	/* Body/S/14 Med */
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%; /* 18.2px */
	letter-spacing: -0.14px;
}

.signUpForm {
	display: flex;
	width: 343px;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.signUpGoggle {
	display: flex;
	padding: 16px 40px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	align-self: stretch;
	border-radius: 16px;
	background: var(
		--Primary,
		linear-gradient(103deg, #de8424 -11.46%, #fc6590 39.64%, #8049f3 103.2%)
	);

	/* Primary_Glow */
	box-shadow: 0px 10px 33px 0px rgba(174, 22, 183, 0.49),
		0px 2px 5.363px 0px rgba(174, 22, 183, 0.25);

	color: #fff;

	/* Body/S/14 Med */
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%; /* 18.2px */
	letter-spacing: -0.14px;
}

.signUpOr {
	justify-content: center;
	color: #fff;
	font-family: Poppins;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 12px */
	display: flex;
	gap: 12px;
	align-items: center;
	width: 100%;
}

.signUpOr span {
	height: 1px;
	background: #463046;
	width: 100%;
	max-width: 150px;
}

.signUpManual {
	color: var(--White_Main-Contrast, #fff);

	/* Body/XS/12 Med */
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 16.8px */
	display: flex;
	gap: 2px;
	align-items: center;
	cursor: pointer;
}

.popupOverlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(4px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.signUpManualForm {
	background: #322636;
	border-radius: 24px;
	padding: 32px 24px;
	box-shadow: 0 0 24px rgba(255, 255, 255, 0.1);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	z-index: 1001;
	max-width: 400px;
}

.closeCrosse {
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
}

.closeCrosse svg {
	width: 20px;
	height: 20px;
}

.signUpManualFormTitles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.signUpManualFormTitle {
	color: var(--White_Main-Contrast, #fff);
	text-align: center;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 28.8px */
	text-transform: capitalize;
}

.signUpManualFormTitle span {
	color: var(--Accent, #fc6896);
}

.signUpManualFormSubtitle {
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px; /* 150% */
	letter-spacing: -0.24px;
}

.signUpManualFormSubtitle span {
	color: #fff;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: -0.24px;
}

.signUpInputs {
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
	align-self: stretch;
}

.signUpInputEmail {
	width: 338px;
	padding: 16px;
	flex-shrink: 0;
	border-radius: 18px;
	border: 1px solid #432e43;
	background: #271a2b;

	display: flex;

	color: #8b8f9c;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 14.4px */
	outline: none;
}

.createPasswordWrapper {
	position: relative;
	padding: 0px 16px;
	width: 338px;
	border-radius: 18px;
	border: 1px solid #432e43;
	background: #271a2b;
	flex-shrink: 0;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	height: 48px;
}

.createPassword {
	width: 100%;
	height: 100%;
	background: transparent;
	color: #8b8f9c;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 14.4px */
	outline: none;
	border: none;
}

.eye {
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.signUpBtn {
	position: relative;
	z-index: 4;
	border-radius: 18px;
	background: linear-gradient(
		91deg,
		#e17f32 0.76%,
		#e8609f 47.99%,
		#894bec 100%
	);
	box-shadow: 0px 4px 16.8px 0px rgba(240, 73, 243, 0.47);
	width: 322px;
	height: 44px;
	flex-shrink: 0;

	justify-content: center;
	align-items: center;
	display: flex;

	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 12px */
	letter-spacing: -0.24px;
	border: none;
	cursor: pointer;
}

.signUpMembers {
	display: inline-flex;
	align-items: center;
	gap: 12px;
	padding-top: 54px;
}

.signUpMembersImg {
	width: 80px;
	height: 32px;
}

.signUpMembersText {
	color: #fff;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.24px;
	text-transform: uppercase;
	width: 120px;
	text-align: center;
}

.signUpMembersText span {
	color: var(--Text_Secondary, #d9d1dc);
}

@media (max-width: 640px) {
	.signUpContent {
		width: 100%;
		height: 100%;
		border-radius: 0;
	}

	.popupOverlay {
		border-radius: 0;
	}

	.signUpManualForm {
		width: 80%;
	}

	.createPasswordWrapper,
	.signUpInputEmail {
		width: -webkit-fill-available;
	}

	.signUpSectionBg1 {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.signUpSectionBg2 {
		display: none;
	}
}
